body {
  background-color: white;
}

h1 {
  text-align: center;
  color: #117766;
  font-family: 'Maven Pro', sans-serif;
}

h2 {
  color: black;
  font-family: Helvetica, sans-serif;

}

h2 {
  color: black;
  font-family: Georgia, sans-serif;
}


head {

}

ul {
  color: ;
  font-size: ;
  font-family: ;
}

p {
  color: ;
  font-size: ;
  font-family: ;
}



Color Palette Image

#112222
#225555
#116699
#3388aa
#779944 dull

#002222
#117766
#0088cc
#00aaee
#88bb22 vibrant
