.centered {
  /*centered: table;*/
  max-width: 100%;
}
h1 {
  text-align: center;
}
table {
  /*centers the table!!!*/
  margin: 0 auto;
  font-family: sans-serif;
  width: 70%;
  /*border: 2px double black;*/
  align-content: center;
  padding-left: 20px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-top: 20px;
  border-spacing: 5px;
  background-color: #b3b3b3;
  table-layout: center;
  background-image: url(spirulina-water.jpg);
  /*background-size: cover;*/
  opacity: .75;
}

fieldset {
  margin: 30px;
  padding: 15px;
  display: block;
  max-width: 100%;
  text-align: center;
}

legend {
  display: block;
}

legend div {
  text-align: center;
}

td {
  text-align: center;
  border: 2px solid;
  padding: 10px;
  text-emphasis: bold;
  /*want to make only column header bold*/
}

th {
  border: 30px;
  padding-top: 30px;
}

tr {
  text-align: center;
  padding-top: 15px;
  border: 2px black;
}
